.card-dashboard-company {
  border-radius: 10px !important;
  height: 100%;
  background-color: #ffffff7a;
}

.button-card {
  width: 90%;
  height: 68px;
  border: none;
  border-radius: 18px;

}
.button-card:hover{
  width:91% ;
  height: 74px;
  transition: width 15s, height 15s;
  background-color: rgb(193, 190, 186);

}

.delayed-color {
  background-color: red;


}

.column.side {
  width: 20%;
  height: 100%;
  background-color: #f5efef;
}

/* Middle column */
.column.middle {
  width: 80%;
  background-color: #ffffff7a;
}

.sheduled-color {
  background-color: yellow;
  position: relative;


}