


.row::after {
    content: "";
    display: table;
    clear: both;
    background-color: #f5efef;
  }
  .column {
    float: left;
    padding: 10px;
    
  }
  
  /* Left and right column */
  .column.side {
    width: 21%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-color:#dce3e3!important;
    box-shadow: 10px 10px 5px 12px lightblue;
  }
  
  /* Middle column */
  .column.middle {
    width: 79%;
    background-color:#dce3e3 !important;
    box-shadow: 10px 10px 5px 12px rgb(121, 178, 197);
;  }
  
  /* Clear floats after the columns */
  
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
  .button-sidebar{
    width: 200px;
    height: 65px;
    border: 9px solid rgb(197, 193, 200)
  }.button-sidebar:hover{
    background-color: rgb(112, 146, 224);
  }
  .button-Add {
    width: 200px;
    background-color: #128abb;
    color: white;
    border: none;
    height: 43px;
}